<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do Lists Details</title>
</head>

<body>
    <main>
        <div>
            <h1>{{ list_details.name }}</h1>
            <p>
                <a href="{% url 'todo_list_update' list_details.id %}">Edit</a>
            </p>
            <p>
                <a href="{% url 'todo_list_delete' list_details.id %}">Delete</a>
            </p>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tasks in list_details.items.all %}
                    <tr>
                        <td>
                            <a href="{% url 'todo_list_list' %}">{{ tasks.task }}</a>
                        </td>
                        <td>
                            {{ tasks.due_date }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>

</html>
